/* ======================================= */
/* SERVICE CARD */
/* ======================================= */

.strength-card {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s ease, border-bottom-color 0.4s ease;
  color: var(--primary-color);
  text-align: center;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  transform-origin: center;
  height: 100%;
}

.strength-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(26, 43, 76, 0.25);
  border-bottom-color: var(--secondary-color);
  transition: transform 0.4s ease, box-shadow 0.4s ease,
    border-bottom-color 0.4s ease;
}

.strength-icon {
  font-size: 3.5rem;
  color: var(--dark-bg);
  margin-bottom: 1rem;
  transition: transform 0.4s ease, color 0.3s ease;
}

.strength-card:hover .strength-icon {
  transform: scale(1.2);
  color: var(--secondary-color);
}

/* Titolo */
.strength-card h3 {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 1.2rem;
  transition: color 0.3s ease;
}

.strength-card:hover h3 {
  color: var(--secondary-color);
  transform: scale(1.1);
  transition: transform 0.4s ease, color 0.3s ease;
}

/* Bullet list */
.strength-content-list ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.strength-content-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  line-height: 1.5;
  font-size: 1.2rem;
}

.strength-content-list li::before {
  content: "\25CF";
  color: var(--secondary-color);
  font-size: 1.2rem;
  position: absolute;
  left: 0;
}

.strength-content-list li strong {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: var(--primary-color);
}
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    box-shadow 0.3s ease;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}
